.features {
    display: flex;
    justify-content: center;
    padding: 95px 0 80px;


    &__container {
        display: flex;
        align-items: flex-end;
    }

    &__list-item {
        display: flex;
    }

    &__description {
        max-width: 435px;
    }

    &__description-title {
        margin: 0;
        font-size: 35px;
        line-height: 50px;
        font-weight: 500;
    }

    &__description-text {
        margin: 0;
        margin-top: 20px;
        color: $lightblack;
    }

    &__list {
        margin-top: 20px;
    }

    &__list-item {
        align-items: center;
        &:not(:last-child){
            margin-bottom: 18px;
        }
    }

    &__list-item-text {
        margin: 0;
        color: $lightblack;
        font-size: 14px;
    }

    &__list-item-img {
        margin-right: 12px;
        width: 20px;
        height: 20px;
    }

    &__img {
        margin-right: 170px;
        max-width: 508.12px;
        max-height: 414.71px;
    }
}