.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    background: $backwhite;

    padding: 25px 0 150px;

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        font-size: 35px;
        max-width: 450px;
    }

    &__subtitle {
        font-size: 16px;
        margin-top: 22px;
        max-width: 555px;
    }
}

.slider {
    display: flex;

    $this: &;

    &_reviews {
        width: 100%;
        max-width: 1140px;
        margin-top: 60px;
        position: relative;

        padding-top: 310px;

        #{$this}__content {
            position: absolute;
            top: 0;
            left: auto;
            right: auto;

            width: 100vw;
            height: 250px;
        }
    }

    &__content {
        display: flex;
    }

    &__controls,
    &__dots,
    &__arrows {
        display: flex;
        align-items: center;
    }

    &__controls {
        width: 100%;
        justify-content: space-between;
    }

    &__dots-item {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $lightwhite;

        transition: all 0.3s ease;

        &:not(:first-child) {
            margin-left: 15px;
        }

        &_active {
            width: 45px;
            border-radius: 300px;
            background-color: $red;

            transition: all 0.3s ease;
        }
    }

    &__arrows-item {
        width: 60px;
        height: 60px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $red;

        transition: all 0.3s ease;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &_right {
            transform: rotate(180deg);
        }

        &:active {
            background-color: $red;
            transition: all 0.3s ease;

            #{$this}__arrows-icon {
                fill: $white;
            }
        }
    }

    &__arrows-icon {
        width: 20px;
        height: 17.5px;

        fill: $red;
    }
}

.card {
    

    $this: &;

    &_reviews {
        flex-shrink: 0;

        padding: 30px;
        width: 400px;
        min-height: 250px;
        border: 2px solid $lightgrey;
        border-radius: 10px;

        &:not(:last-child) {
            margin-right: 50px;
        }

        #{$this}__text {
            margin: 0;
            margin-top: 20px;
            display: block;
            

            font-size: 16px;
            line-height: 30px;

            width: 100%;
            height: 120px;
            text-overflow: ellipsis;

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }

    &__row {
        width: 100%;
        display: flex;
    }
}

.avatar {
    display: flex;
    font-size: 14px;
    align-items: center;

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__img {
        margin-right: 20px;
        border-radius: 50%;
    }

    &__title {
        font-size: 18px;
        color: $black;
        margin-bottom: 5px;
        font-weight: 500;
        line-height: 15px;
        
    }

    &__subtitle {
        color: $lightblack;
        font-size: 14px;
        line-height: 20px;
    }
}

.rating {
    display: flex;
    align-items: center;
    color: $black;
    font-size: 16px;
    margin-left: auto;

    &__icon {
        margin-left: 10px;
    }
}